<div class="row justify-content-center mt-6">
  <div class="col-md-6 mb-4">
    <div class="card text-center border-info">
      <div class="card-body">
        <h1><%= link_to 'Areas'.upcase, areas_path %></h1>
      </div>
    </div>
  </div>

  <% if current_user.admin? %> 
    <div class="col-md-6 mb-4">
      <div class="card text-center border-info">
        <div class="card-body">
          <h1><%= link_to 'Usuarios'.upcase, users_path %></h1>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.technician? || current_user.admin? %>
    <div class="col-md-6 mb-4">
      <div class="card text-center border-info">
        <div class="card-body">
          <h1><%= link_to 'Labores'.upcase, labours_path %></h1>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class="col-md-6 mb-4">
      <div class="card text-center border-info">
        <div class="card-body">
          <h1><%= link_to 'Tecnicos'.upcase, technicians_path %></h1>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? || current_user.technician?  %>
    <div class="col-md-6 mb-4">
      <div class="card text-center border-info">
        <div class="card-body">
          <h1><%= link_to 'Habilidades'.upcase, skills_path %></h1>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class="col-md-6 mb-4">
      <div class="card text-center border-info">
        <div class="card-body">
          <h1><%= link_to 'Clientes'.upcase, clients_path %></h1>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? || current_user.client? %>
    <div class="col-md-6 mb-4">
      <div class="card text-center border-info">
        <div class="card-body">
          <h1><%= link_to 'Servicios'.upcase, services_path %></h1>
        </div>
      </div>
    </div>
  <% end %>
</div>