<div>
    <%= link_to 'Areas', areas_path %>
</div>
<div>
    <%= link_to 'Labores', labours_path %>
</div>
<div>
    <%= link_to 'Tecnicos', technicians_path %>
</div>
<div>
    <%= link_to 'Habilidades', skills_path %>
</div>
<div>
    <%= link_to 'clientes', clients_path %>
</div>
<div>
    <%= link_to 'Servicios', services_path %>
</div>