<div>
  <h1><%= link_to 'Areas'.upcase, areas_path %></h1>
</div>

<div>
  <h1><%= link_to 'usuarios'.upcase, users_path %></h1>
</div>

<% if current_user.admin? %>
  <div>
    <h1> <%= link_to 'Labores'.upcase, labours_path %></h1>
  </div>
<% end %>

<% if current_user.admin? %>
  <div>
    <h1><%= link_to 'Tecnicos'.upcase, technicians_path %></h1>
  </div>
<% end %>

<% if current_user.admin? %>
  <div>
    <h1><%= link_to 'Habilidades'.upcase, skills_path %></h1>
  </div>
<% end %>

<% if current_user.admin? %>
  <div>
    <h1> <%= link_to 'clientes'.upcase, clients_path %></h1>
  </div>
<% end %>

<% if current_user.admin? || current_user.client? %>
  <div>
    <h1><%= link_to 'Servicios'.upcase, services_path %></h1>
  </div>
<% end %>