<h2 class="text-center mb-4">Agregar labor</h2>

<%= form_with(model: @service_labour, url: add_labour_service_path, method: :put) do |form| %>
  <% @service_labour.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
  <% end %>

  <%= form.hidden_field :service_id, value: @service.id %>

  <div class="mb-3">
    <%= form.label :labour_id, 'Seleccionar Labor:', class: 'form-label' %> <br>
    <%= form.collection_select :labour_id, Labour.all, :id, :description, {prompt: 'Seleccione una labor'}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :hours, 'Horas', class: 'form-label' %>
    <%= form.number_field :hours, min: 1, class: 'form-control' %>
  </div>

  <%= form.submit 'Agregar', class: 'btn btn-primary'%>
<% end %>