<h3>Agregar labor</h3>

<%= form_with(model: @service_labour, url: add_labour_service_path, method: :put) do |form| %>
  <% @service_labour.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>

  <%= form.hidden_field :service_id, value: @service.id %>

  <div>
    <%= form.label :labour_id, 'Seleccionar Labor:' %> <br>
    <%= form.collection_select :labour_id, Labour.all, :id, :description, prompt: 'Seleccione una labor' %>
  </div>

  <div>
    <%= form.label :hours, 'Horas' %>
    <%= form.number_field :hours, min: 1 %>
  </div>

  <%= form.submit 'Agregar' %>
<% end %>
