<div class="container">
  <%= render partial: 'shared/back_button', locals: { back_path: services_path, class_name: "btn btn-outline-dark" } %> 
  <h2 class="text-center mb-4"> Sericio #<%=@service.id%></h2>

  <div class="table-responsive">
    <table class="table table-dordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>cliente</th>
          <th>Tecnico</th>
          <th>Fecha de inicio</th>
          <th>Fecha final</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @service.id %></td>
            <td><%= @service.client.name %></td>
            <td><%= @service.technician.name %></td>
            <td><%= @service.initial_date %></td>
            <td><%= @service.end_date %></td>
            <td><%= @service.description %></td>
            <td>
              <div>
                <%= link_to 'Editar', edit_service_path(@service.id), class: "btn btn-primary me-2" %>
                <%= link_to 'Eliminar', service_path(@service.id), data: {
                  turbo_method: :delete,
                  turbo_confirm: '¿Estás seguro?'
                }, class: "btn btn-danger me-2" %>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <h2 class="text-center mb-4">Lista De Labores</h2>
  <%= render partial: 'labour'%>
</div>

<h2 class="text-center mb-4">Agregar labor</h2>
<div class="row mt-3 justify-content-center">
  <div class="col-md-6">
    <%= render partial: 'add_labour'%>
  </div>
</div>