<div class="container">
  <%= render partial: 'shared/back_button', locals: { back_path: labours_path, class_name: "btn btn-outline-warning" } %> 
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: @labour) do |form| %>
        <% @labour.errors.full_messages.each do |message| %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
        <% end %>
      
        <div class="mb-3 form-group">
          <%= form.label :skill_id, 'Seleccionar Categoría:' %>
          <%= form.collection_select :skill_id, Skill.subskills, :id, :name, { prompt: 'Selecciona una categoría' }, class: 'form-select' %>
        </div>
      
        <div class="mb-3 form-group">
          <%= form.label :title, 'Titulo' %>
          <%= form.text_area :title, class: 'form-control' %>
        </div>
      
        <div class="mb-3 form-group">
          <%= form.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>