<tr>
  <td>
     <%= labour.description.upcase %> 
  </td>
  <td>
       <%= labour.start_date %>
  </td>
  <td>
      <%= labour.end_date %>
  </td>
  <td>
    <div>
      <%= link_to 'Edit', edit_labour_path(labour) %>
      <%= link_to 'Eliminar', labour_path(labour), data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estás seguro?'
      } %>
    </div>
  </td>
</tr>