<div class="container">
  <h1 class="text-center mb-4">Lista De labores</h1>
  <%= render partial: 'shared/back_button', locals: { back_path: root_path, class_name: "btn btn-outline-dark" } %> 
  <%= link_to 'Nueva labor', new_labour_path, class: 'btn btn-primary mb-3' %>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_tag labours_path, method: :get, id: 'filter-form', class: 'mb-3' do %>
        <%= label_tag :skill_id, 'Filtrar por categoría:', class: 'form-label' %>
        <%= select_tag :skill_id, options_for_select(Skill.subskills.map { |c| ["#{c.parent.name} - #{c.name}", c.id] }, params[:skill_id]), prompt: 'Todas las labores', class: 'form-select', onchange: 'submitFilterForm()' %>
        <%= submit_tag 'Filtrar', class: 'btn btn-primary', style: 'display: none;' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function submitFilterForm() {
    document.getElementById('filter-form').submit();
  }
</script>

<div class="container">
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Titulo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @labours.each do |labour| %>
            <tr>
              <td><%= labour.title %></td>
              <td>
                <%= link_to 'Editar', edit_labour_path(labour), class: "btn btn-primary me-2" %>
                <%= link_to 'Eliminar', labour_path(labour), data: {
                  turbo_method: :delete,
                  turbo_confirm: '¿Estás seguro?'
                  }, class: "btn btn-danger me-2"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>