<%= form_with(model: @technician, local: true) do |form| %> 
  <% @technician.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :user_id, 'Seleccionar usuario:' %>
    <%= form.collection_select :user_id,  User.includes(:technician).where(technicians: { id: nil }), :id, :email, prompt: 'Seleccione un usuario' %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>