<tr>
  <td>
     <%= technician.id %>
  </td>
  <td>
     <%= link_to technician.name, technician_path(technician) %>
  </td>
  <td>
     <%= technician.user.email %>
  </td>
  <td>
    <%= link_to 'Editar', edit_technician_path(technician) %>  
    <%= link_to 'Eliminar', technician_path(technician), data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estás seguro?'
        } 
    %>
  </td>
</tr>
