<br>
<%= render partial: 'technician', locals: { technician: @technician } %> 

<div>
    <%= link_to 'Editar', edit_technician_path(@technician) %>  
    <%= link_to 'Eliminar', technician_path(@technician), data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estás seguro?'
        } 
    %>
</div>

<table>
  <thead>
    <tr>
      <th>Habilidades</th>
      <th>Accion</th>
      <th>Nivel</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'skill', collection: @skills %>
  </tbody>
</table>


<%= render partial: 'add_skill' %>