<h3><%= @technician.name.upcase %> <%= @technician.last_name.upcase %> </h3>

<h3>Especialidades: </h3>
<ul>
  <% @skills.each do |skill| %>
    <li><%= skill.skill.name %> - <%= skill.level %></li>
  <% end %>
</ul>

<%= render partial: 'add_skill' %>