<br>
<tr>
  <td><%= client.id %></td>
  
  <td>
    <%= link_to client_path(client) do %>
      <%= client.name %>
    <% end %>
  </td>

  <td><div>
  <%= link_to 'Editar', edit_client_path(client) %>
  <%= link_to 'Eliminar', client_path(client), data: {
    turbo_method: :delete,
    turbo_confirm: '¿Estás seguro?'
  } %>
</div></td>
  
</tr>

