<tr>
  <td>
    <%= client.id %>
  </td>
  <td>
      <%= client.name %>
  </td>
  <td>
      <%= client.user.email %>
  </td>
  <td>
    <div>
      <%= link_to 'Editar', edit_client_path(client) %>
      <%= link_to 'Eliminar', client_path(client), data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estás seguro?'
      } %>
    </div>
  </td>
</tr>