<%= form_with(model: @client, local: true) do |form| %>
  <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  
  <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :user_id, 'Seleccionar usuario:' %>
    <%= form.collection_select :user_id,  User.includes(:client).where(clients: { id: nil }), :id, :email, prompt: 'Seleccione un usuario' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>