<%= form_with(model: @client, local: true) do |form| %>
  <% @client.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>

  <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
