<%= form_with(model: @category) do |form| %>
  <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field :parent_id, value: @category_id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>