<%= link_to 'Nueva categoria', new_category_path(category_id: @category.id), class: "btn btn-primary me-2" %>

<div class="row justify-content-center">
  <%= render partial: 'category', locals: { category: @category } %>

<% if current_user.admin? %> 
  <div class="container">
      <div class="justify-content-center">
        <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary me-2"  %>
        <%= link_to 'Eliminar', category_path(@category), data: {
          turbo_method: :delete,
          turbo_confirm: '¿Estás seguro?'
        }, class: "btn btn-danger me-2" %>
      </div>
  </div>
<% end %><hr>

<div class="row justify-content-center">
  <%= render partial: 'category', collection: @subcategories %>
</div>